<h1>Order List</h1>

<fieldset>
  <input type="text" class="form-control" ng-model="$ctrl.search" id="order_search" placeholder="Search">
</fieldset>

<table class="table" >
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-right">
        <a href="#!/orders/new">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in $ctrl.list | filter:$ctrl.search | orderBy:'name'">
      <td>{{order.name}}</td>
      <td class="text-right">
        <a href="#!/orders/edit/{{order.id}}" title="Edit the {{order.name}} order">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>